<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Settings</title>
    <link rel="stylesheet" href="/styles/_styles.css">
    <link rel="stylesheet" href="/styles/_account-settings.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div th:insert="~{fragments/nav :: navbar}"></div>
    <div class="scroll-to-top" onclick="scrollToTop()"><i class="fa-solid fa-arrow-up"></i></div>
    <main>
        <form class="container new-wide-container" th:action="@{/users/{userId}/account-settings(userId=${user.id})}" th:object="${updateProfileRequest}" th:method="PATCH" id="edit-form">
            <h1 class="heading-1">Account Settings</h1>

            <div class="two-column-settings">

                <div class="settings-column-left">
                    <section class="section-1">
                        <h2 class="heading-2">Your account</h2>

                        <div id="account-details-form">
                            <div class="account-info">
                                <div class="account-info-field">
                                    <label for="ownerName" class="account-info-label">Owner Name</label>
                                    <p th:if="${#fields.hasErrors('ownerName')}" th:text="${#fields.errors('ownerName')[0]}" class = "error-message"></p>
                                    <input type="text" id="ownerName" name="ownerName"
                                           th:value="*{ownerName}"
                                           th:classappend="${#fields.hasErrors('ownerName')} ? 'input-error' : ''"
                                           class="account-info-input" required>
                                </div>

                                <div class="account-info-field">
                                    <label for="companyAddress" class="account-info-label">Company Address</label>
                                    <p th:if="${#fields.hasErrors('companyAddress')}" th:text="${#fields.errors('companyAddress')[0]}" class = "error-message"></p>
                                    <input type="text" id="companyAddress" name="companyAddress"
                                           th:value="*{companyAddress}"
                                           th:classappend="${#fields.hasErrors('companyAddress')} ? 'input-error' : ''"
                                           class="account-info-input">
                                </div>

                                <div class="account-info-field">
                                    <label for="email" class="account-info-label">Email</label>
                                    <p th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')[0]}" class = "error-message"></p>
                                    <input type="email" id="email" name="email"
                                           th:value="*{email}"
                                           th:classappend="${#fields.hasErrors('email')} ? 'input-error' : ''"
                                           class="account-info-input" required>
                                </div>

                                <div class="account-info-field">
                                    <label for="password" class="account-info-label">New Password</label>
                                    <p th:if="${#fields.hasErrors('password')}" th:text="${#fields.errors('password')[0]}" class = "error-message"></p>
                                    <input type="password" id="password" name="password"
                                           th:value="*{password}"
                                           th:classappend="${#fields.hasErrors('password')} ? 'input-error' : ''"
                                           class="account-info-input" placeholder="••••••••">
                                </div>

                            </div>
                        </div>

                        <div class="language-info">
                            <label for="language">Choose a language:</label>
                            <select id="language">
                                <option value="eng">English</option>
                            </select>
                        </div>
                    </section>
                </div>

                <div class="settings-column-right">
                    <section class="catalog-settings">
                        <h2 class="catalog-title">Catalog</h2>

                        <div class="price-tax-display setting-group">
                            <div class="price-tax-label">Price tax display</div>
                            <div class="radio-group">
                                <label class="radio-label">
                                    <input th:field="*{pricesWithVAT}" type="radio" value="true" class="radio-input">
                                    <span class="radio-text">Including VAT</span>
                                </label>
                                <label class="radio-label">
                                    <input th:field="*{pricesWithVAT}" type="radio" value="false" class="radio-input">
                                    <span class="radio-text">Excluding VAT</span>
                                </label>
                            </div>
                        </div>

                        <div class="wholesale-prices-visibility setting-group">
                            <div class="wholesale-prices-label">Wholesale prices visibility</div>
                            <div class="radio-group">
                                <label class="radio-label">
                                    <input th:field="*{wholesalePrices}" type="radio" value="true" name="wholesalePricesVisibility" class="radio-input">
                                    <span class="radio-text">Show</span>
                                </label>
                                <label class="radio-label">
                                    <input th:field="*{wholesalePrices}" type="radio" value="false" name="wholesalePricesVisibility" class="radio-input">
                                    <span class="radio-text">Hide</span>
                                </label>
                            </div>
                        </div>

                        <div class="product-categories-order setting-group">
                            <div class="product-categories-label">Product categories order</div>
                            <div class="radio-group">
                                <label class="radio-label">
                                    <input th:field="*{productsOrder}" type="radio" value="true" name="productCategoriesOrder" class="radio-input">
                                    <span class="radio-text">TecDoc order</span>
                                </label>
                                <label class="radio-label">
                                    <input th:field="*{productsOrder}" type="radio" value="false" name="productCategoriesOrder" class="radio-input">
                                    <span class="radio-text">Alphabetic order</span>
                                </label>
                            </div>
                        </div>

                        <div class="product-weight-visibility setting-group">
                            <div class="product-weight-label">Visibility of product weight on cart</div>
                            <div class="radio-group">
                                <label class="radio-label">
                                    <input th:field="*{showWeight}" type="radio" value="true" name="productWeightVisibility" class="radio-input" >
                                    <span class="radio-text">Show</span>
                                </label>
                                <label class="radio-label">
                                    <input th:field="*{showWeight}" type="radio" value="false" name="productWeightVisibility" class="radio-input">
                                    <span class="radio-text">Hide</span>
                                </label>
                            </div>
                        </div>

                        <div class="product-listing-view setting-group">
                            <div class="product-listing-label">Product listing view</div>
                            <div class="radio-group radio-group-three-col">
                                <label class="radio-label">
                                    <input type="radio" name="productListingView" value="technical" class="radio-input" checked>
                                    <span class="radio-text">Technical description</span>
                                </label>
                                <label class="radio-label">
                                    <input type="radio" name="productListingView" value="mostImportant" class="radio-input">
                                    <span class="radio-text">Most important product attributes</span>
                                </label>
                                <label class="radio-label">
                                    <input type="radio" name="productListingView" value="all" class="radio-input">
                                    <span class="radio-text">All product attributes</span>
                                </label>
                            </div>
                        </div>

                        <div class="initial-open-tab setting-group">
                            <div class="initial-open-tab-label">Initial open tab in Graphical search</div>
                            <div class="radio-group">
                                <label class="radio-label">
                                    <input type="radio" name="graphicalSearchTab" value="graphical" class="radio-input" checked>
                                    <span class="radio-text">Graphical search</span>
                                </label>
                                <label class="radio-label">
                                    <input type="radio" name="graphicalSearchTab" value="universal" class="radio-input">
                                    <span class="radio-text">Universal category search</span>
                                </label>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <button class="save-button">
                SAVE
            </button>
        </form>
    </main>

    <div th:insert="~{fragments/footer :: footer}"></div>

    <script src="/scripts/navigation.js"></script>
    
</body>
</html>