<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Page</title>
    <link rel="stylesheet" href="../static/styles/_styles.css">
    <link rel="stylesheet" href="../static/styles/_car-page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <a href="home.html"><img src="../static/assets/images/logo-clear.png" alt="Logo"></a>
            <a href="#" class="menu-button" id="catalogueButton">
                <i class="fa-solid fa-bars"></i> <span>MENU</span>    
            </a>
            <div id="catalogueMenu" class="menu">
                <ul><li><a href="#">Full offer</a></li>
                    <li><a href="#">Universal Searches</a></li>
                    <li><a href="#">Saved Vehicles</a></li>
                    <li><a href="#">News offer</a></li>
                </ul>
            </div>
            
            <a href="#" class="category"><i class="fa-solid fa-car-side"></i> VEHICLES</a>
            
        </div>
        <div class="navbar-search" id="navbar-search">
            <div class="search-input">
                <input type="text" placeholder="Search by product">
            </div>
            <div class="button"><i class="fa-solid fa-magnifying-glass"></i></div>
            <div class="button filter-btn" onclick="openModalFilter()"><i class="fa-solid fa-filter"></i></div>
            <div id="searchModalFilter" class="modal-filter">
                <div class="modal-filter-content">
                  <div class="modal-filter-header">
                    <h3>Advanced search</h3>
                    <span class="close-btn" onclick="closeModalFilter()">&times;</span>
                  </div>
                  <div class="form-group">
                    <h4>Search within</h4>
                    <label for="productIndex">Product index</label>
                    <input type="text" id="productIndex" placeholder="Enter the product index">
                  </div>
                  <div class="form-group">
                    <label for="techDescription">Technical description</label>
                    <input type="text" id="techDescription" placeholder="Enter the technical description">
                  </div>
                  <div class="form-group">
                    <h4>Additional filtering options</h4>
                    <label for="category">Category</label>
                    <input type="text" id="category" placeholder="Start typing a category name">
                  </div>
                  <div class="form-group">
                    <label for="manufacturer">Manufacturer</label>
                    <select id="manufacturer">
                      <option value="any">Any</option>
                    </select>
                  </div>
                  <div class="checkbox-group">
                    <input type="checkbox" id="logisticPath">
                    <label for="logisticPath">Only products available in logistic path</label>
                  </div>
                  <div class="form-buttons">
                    <button class="clear-btn" onclick="clearForm()">Clear</button>
                    <button class="search-btn" onclick="submitForm()">Search</button>
                  </div>
                </div>
            </div>
        </div>
        <div class="navbar-right">
            <a href="">User User</a>
            <a href="" class="icon" id="bell">
                <i class="fa-solid fa-bell">
                    <div id="notificationBox" class="notifications">
                        <ul>
                            <p>Latest notifications</p>
                            <li>There are no notifications</li>
                        </ul>
                        <button>See All</button>
                    </div>
                </i></a>
            <a href="" class="cart"><i class="fa-solid fa-cart-shopping"></i>
                <div class="minicart">
                    <p>Recently added product</p>
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Total value incl. VAT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                            
                        </tbody>
                    </table>
                    <p id="empty">Your cart is empty</p>
                    <div class="total">
                        <p>Wholesale total value incl. VAT: <span id="sum">100</span>€</p>
                        <button>GO TO CART</button>
                    </div>
                    
                </div>
            </a>
            
        </div>
    </div>
    <div class="scroll-to-top" onclick="scrollToTop()"><i class="fa-solid fa-arrow-up"></i></div>
    <!-- <div class="content"></div> -->
     <main>
        <div class="car-details-container">
            <img src="../static/assets/images/unselected_car.png" alt="Car Image">
            <p id="brand"><strong>AUDI</strong></p>
            <p id="model">A3 (8L1)</p>
            <p id="engine">1.6 (1595 ccm / 74 kW / 101 hp)</p>
            <p>Production years: <span id="year">1996/09 - 2003/05</span></p>
            <p>Engine codes: <span id="engineCodes">AKL, APF, AEH</span></p>
            <div class="car-details-buttons">
                <button class="change-vehicle-button">CHANGE VEHICLE</button>
                <button class="full-offer-button">GO TO FULL OFFER</button>
            </div>
        </div>

        <div class="category-section">
            <h2 style="margin-bottom: 20px; color: #2c3e50; font-size: 1.8em; font-weight: 600;">Automotive Parts Categories</h2>
            <div class="category-grid">
                <div class="category-item">
                    <img src="../static/assets/images/icons/filters.png" alt="Filters" class="icon">
                    <ul id="myUL">
                        <li><span class="caret">Filters</span>
                          <ul class="nested">
                            <li><span class="caret">Oil filter/casing/gasket</span>
                              <ul class="nested">
                                <li><a href="#">Oil filter</a></li>
                                <li><a href="">Cap, oil filter housing</a></li>
                                <li><a href="">Gasket, oil filter housing</a></li>
                                <li><a href="">Seal Ring, oil drain plug</a></li>
                                <li><a href="">Screw Plug, oil sump</a></li>
                              </ul>
                            </li>
                            <li><span class="caret">Fuel filter/casing/gasket</span>
                                <ul class="nested">
                                  <li><a href="#">Fuel filter</a></li>
                                </ul>
                              </li>
                            <li><span class="caret">Air filter/casing/gasket</span>
                                <ul class="nested">
                                <li><a href="#">Air filter</a></li>
                                <li><a href="#">Intake Hose, air filter </a></li>
                                <li><a href="#">Air Filter Housing Cover</a></li>
                                <li><a href="#">Seal, air filter housing</a></li>
                                <li><a href="#">Sports Air Filter System</a></li>
                                </ul>
                            </li>
                            <li><span class="caret">Cabin filter/casing/gasket</span>
                                <ul class="nested">
                                <li><a href="#">Filter, cabin air</a></li>
                                </ul>
                            </li>
                            <li><span class="caret">Hydraulic Filter</span>
                                <ul class="nested">
                                <li><a href="#">Hydraulic Filter, automatic transmission</a></li>
                                <li><a href="#">Hydraulic Filter, steering</a></li>
                                <li><a href="#">Parts Kit, automatic transmission oil change</a></li>
                                <li><a href="#">Hydraulic Filter Kit, automatic transmission</a></li>
                                </ul>
                            </li>
                            <li><span class="caret">Filter Set</span>
                                <ul class="nested">
                                <li><a href="#">Filter Set</a></li>
                                <li><a href="#">Parts Set, maintenance service</a></li>
                                </ul>
                            </li>
                        </ul>
                      </ul>
                      </ul>
                      </ul>
                      </ul>
                        </li>
                    </ul>
                        

                </div>    
                <div class="category-item">
                    <img src="../static/assets/images/icons/engine.png" alt="Engine" class="icon">
                    <a href="#">Engine</a>
                </div>
                <div class="category-item">
                    <img src="../static/assets/images/icons/suspension.png" alt="Wheel suspension" class="icon">
                    <a href="#">Wheel suspension</a>
                </div>
                <div class="category-item">
                    <img src="../static/assets/images/icons/absorber.png" alt="Vehicle shock absorption" class="icon">
                    <a href="#">Vehicle shock absorption</a>
                </div>
                <div class="category-item">
                    <img src="../static/assets/images/icons/ignition.png" alt="Ignition/glow system" class="icon">
                    <a href="#">Ignition/glow system</a>
                </div>
                <div class="category-item">
                    <img src="../static/assets/images/icons/drive.png" alt="Drive" class="icon">
                    <a href="#">Drive</a>
                </div>
                <div class="category-item">
                    <img src="../static/assets/images/icons/brakes.png" alt="Brake system" class="icon">
                    <a href="#">Brake system</a>
                </div>
                <div class="category-item">
                    <img src="../static/assets/images/icons/steering.png" alt="Steering system" class="icon">
                    <a href="#">Steering system</a>
                </div>
                <div class="category-item">
                    <img src="../static/assets/images/icons/cooling.png" alt="Cooling system" class="icon">
                    <a href="#">Cooling system</a>
                </div>
                <div class="category-item">
                    <img src="../static/assets/images/icons/heating.png" alt="Heating/ventilation/air-conditioning" class="icon">
                    <a href="#">Heating/ventilation/air-conditioning</a>
                </div>
                <div class="category-item">
                    <img src="../static/assets/images/icons/accessories.png" alt="Vehicle equipment/Accessories" class="icon">
                    <a href="#">Vehicle equipment/Accessories</a>
                </div>
                <div class="category-item">
                    <img src="../static/assets/images/icons/ignition.png" alt="Car installations/LPG" class="icon">
                    <a href="#">Ignition/Glow system</a>
                </div>
                <div class="category-item">
                    <img src="../static/assets/images/icons/intake.png" alt="Baggage transport" class="icon">
                    <a href="#">Intake/exhaust system</a>
                </div>
                <div class="category-item">
                    <img src="../static/assets/images/icons/fuel.png" alt="Trailer (hitch) coupling" class="icon">
                    <a href="#">Fuel feed system</a>
                </div>
                <div class="category-item">
                    <img src="../static/assets/images/icons/body.png" alt="Trailer/Semi-trailer" class="icon">
                    <a href="#">Body parts</a>
                </div>
                <div class="category-item">
                    <img src="../static/assets/images/icons/glass.png" alt="Tuning" class="icon">
                    <a href="#">Glass/ window</a>
                </div>
                <div class="category-item">
                    <img src="../static/assets/images/icons/tunning.png" alt="Standard parts" class="icon">
                    <a href="#">Tunning</a>
                </div>
                <div class="category-item">
                    <img src="../static/assets/images/icons/tyres.png" alt="Motorsport" class="icon">
                    <a href="#">Tyres</a>
                </div>
            </div>
        </div>
     </main>
    <footer class="footer">
        <div class="footer-section">
            <h4>YOUR BRANCH</h4>
            <p>Central Warehouse(B01)</p>
            <p>Sofia, Bulgaria</p>
            <p><a href="#">See on Google maps</a></p>
            <p class="status-open">• Open</p>
        </div>
        <div class="footer-section">
            <h4>Contact us</h4>
            <p><a href="#">Send message</a></p>
            <p><a href="#">Go to contacts</a></p>
        </div>
        <div class="footer-section">
            <h4>OUR WEBSITES</h4>
            <p><a href="#">www.eurocars.eu</a></p>
            <p><a href="#">bg.eurocars.eu</a></p>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fa-brands fa-square-youtube"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            
            <div>
                <span>2024 Inter Cars. All rights reserved.</span>
                <a href="#">COOKIES POLICY</a>
                <a href="#">TERMS OF USE</a>
            </div>
        </div>
    </footer>


    <script src="../static/scripts/navigation.js"></script>
    <script src="../static/scripts/car-expand-tree.js"></script>
</body>
</html>