<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Page</title>
    <link rel="stylesheet" href="/styles/_styles.css">
    <link rel="stylesheet" href="/styles/_car-page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div th:insert="~{fragments/nav :: navbar}"></div>
    <div class="scroll-to-top" onclick="scrollToTop()"><i class="fa-solid fa-arrow-up"></i></div>
     <main>
        <div class="car-details-container">
            <img th:src="${engine.carImg} ? ${engine.carImg} : 'https://i.ibb.co/7xbjRTyb/unselected-car.png'" alt="Car Image">
            <p id="brand"><strong th:text="${engine.model} ? ${engine.model.brand.name} : 'Brand: - '"></strong></p>
            <p id="model" th:text="${engine.model} ? ${engine.model.name} : 'Model: - '" ></p>
            <p id="engine"><span th:text="${engine.type} ? ${engine.type} : 'Enigne: - '"></span> (<span th:text="${engine.kw}"></span> kW, <span th:text="${engine.hp}"></span> HP) </p>
            <p>Production years: <span id="year" th:text="${engine.prodYears} ? ${engine.prodYears} : '-'"></span></p>
            <div class="car-details-buttons">
                <a class="change-vehicle-button" th:href="@{/brands}">CHANGE VEHICLE</a>
                <a class="full-offer-button" th:href="@{/cars/0/categories}">GO TO FULL OFFER</a>
            </div>
        </div>

        <div class="category-section">
            <h2 style="margin-bottom: 20px; color: #2c3e50; font-size: 1.8em; font-weight: 600;">Automotive Parts Categories</h2>
            <div class="category-grid">
                <div class="category-item" th:each="category : ${mainCategories}">
                  <img th:src="@{${category.imageUrl}}" th:alt="${category.name}" class="icon">

                  <ul id="myUL" class="category-tree">
                    <li>
                      <span class="caret" th:text="${category.name}"></span>

                      <ul class="nested" th:if="${!#lists.isEmpty(category.categories)}">
                        <li th:each="sub : ${category.categories}">
                          <a th:href="${engine.id} ? @{/parts(categoryId=${sub.id}, vehicleId=${engine.id})} : @{/parts(categoryId=${sub.id})}"
                             th:text="${sub.name}">Subcategory</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
     </main>

    <div th:insert="~{fragments/footer :: footer}"></div>


    <script src="/scripts/navigation.js"></script>
    <script src="/scripts/car-expand-tree.js"></script>
</body>
</html>