<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cart</title>
    <link rel="stylesheet" href="/styles/_styles.css">
    <link rel="stylesheet" href="/styles/_cart-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div th:insert="~{fragments/nav :: navbar}"></div>
    <div class="scroll-to-top" onclick="scrollToTop()"><i class="fa-solid fa-arrow-up"></i></div>

    <main>
        <div class="cart-parts">
            <div class="top-bar">
                <div class="top-bar-left">
                    <span><</span><a href="#" th:href="@{/home}"> Continue shopping</a>
                </div>
            </div>
            <div class="product-list">
                <table>
                    <thead class="product-list-header">
                        <tr>
                            <th>Product</th>
                            <th>Delivery time</th>
                            <th>Quantity</th>
                            <th>Price per item(incl. VAT)</th>
                            <th>Total price(incl. VAT)</th>
                            <th>Total weight</th>
                        </tr>
                    </thead>
                    <tbody class="product-item" th:object="${items}">
                        <p th:if="${items.isEmpty()}">Still no added items in cart</p>
                        <tr th:each="item : ${items}">
                            <td><div class="product">
                                    <div class="buttons">
                                        <input type="checkbox" class="product-checkbox">
                                        <button class="remove-button">✕</button>
                                    </div>
                                    <div class="product-image">
                                        <img th:src="${item.part.imgUrls[0]}" alt="">
                                    </div>
                                    <div class="product-info">
                                        <div class="product-name" th:text="${item.part.name}">17-0583 Steering rack</div>
                                        <div class="product-details" th:text="${item.part.description}">Steering rack electric</div>
                                    </div>
                                    <div class="manufacture-img">
                                        <img th:src="${item.part.manufacturer.imgUrl}" alt="">
                                    </div>
                                </div>
                            </td>
                            <td><div class="delivery-time">
                                    <span class="green-text">1 business day (in branch)</span>
                                </div>
                            </td>
                            <td>
                                <input type="number" th:value="${item.quantity}" class="quantity-input">
                            </td>
                            <td><div class="vat" th:text="${#numbers.formatDecimal(item.part.price * 1.2, 0, 2)} + ' EUR'">1,294.00</div></td>
                            <td><div class="price" th:text="${#numbers.formatDecimal(item.getTotalPriceWithVat(), 0, 2) + ' EUR'}">1,294.00 BGN</div></td>
                            <td><div class="weight" th:text="${#numbers.formatDecimal(item.getTotalWeight(), 1, 2) + ' kg'}">12.00 kg</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="summary-container">
            <h2 class="summary-heading">Summary</h2>
            <div class="selected-products">
                <span>Selected products</span>
                <span id="qty">1</span>
            </div>
            <div class="total-weight">
                <span>Total weight</span>
                <span id="weight">27.50 kg</span>
            </div>
            <div class="price-info">
                <span>Wholesale price excl. VAT</span>
                <span id="price">1,078.00 BGN</span>
            </div>
            
            <div class="vat-value">
                <span>VAT value</span>
                <span id="vat">215.67 BGN</span>
            </div>
            <div class="wholesale-price-sum">
                <span>Wholesale price sum incl. VAT</span>
                <span id="whole-price">1,294.00 BGN</span>
            </div>
            <div class="delivery-method">
                <span>Delivery method</span>
                <span>Personal pickup</span>
            </div>
            <div class="payment-method">
                <span>Payment method</span>
                <span>Cash</span>
            </div>
            <button class="order-now-button">
                ORDER NOW
            </button>
            
            <div class="contact-info">
                Got questions? Please contact your branch:
            </div>
            <div class="contact-details">
                Central Warehouse
            </div>
            <div class="contact-info">
                Mob.:
            </div>
            <button class="call-button">
                CALL
            </button>
        </div>
    </main>

    <div th:insert="~{fragments/footer :: footer}"></div>

    <script src="/scripts/navigation.js"></script>
</body>
</html>