<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose car</title>
    <link rel="stylesheet" href="/styles/_choose-car.css">
    <link rel="stylesheet" href="/styles/_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div th:insert="~{fragments/nav :: navbar}"></div>
    <div class="scroll-to-top" onclick="scrollToTop()"><i class="fa-solid fa-arrow-up"></i></div>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li id="cars-btn" class="active"><a href="#"><i class="fa-solid fa-car-side"> </i><span>Car</span></a></li>
                <li id="vans-btn"><a href="#"><i class="fa-solid fa-van-shuttle"></i> <span>Van</span></a></li>
                <li id="trucks-btn"><a href="#"><i class="fa-solid fa-truck"></i> <span>Buses/Trucks</span></a></li>
                <li id="motorcycles-btn"><a href="#"><i class="fa-solid fa-motorcycle"></i><span>Motorcycle/ATV/UTV</span></a></li>
                <li id="vin-btn"><a href="#"><span id="VIN">VIN</span> <span>VIN</span></a></li>
            </ul>
        </div>
        <div id="cars" class="content">
            <input type="text" class="search-bar" placeholder="Type manufacturer...">
            <h3>Choose brand</h3>
            <ul>
                <li class="audi"><a href="#">AUDI</a></li>
                <li><a href="#">BMW</a></li>
                <li><a href="#">CHEVROLET</a></li>
                <li><a href="#">CITROEN</a></li>
                <li><a href="#">OPEL</a></li>
                <li><a href="#">HYUNDAI</a></li>
                <li><a href="#">IVECO</a></li>
                <li><a href="#">FIAT</a></li>
                <li><a href="#">FORD</a></li>
                <li><a href="#">MERCEDES-BENZ</a></li>
                <li><a href="#">PEUGEOT</a></li>
                <li><a href="#">RENAULT</a></li>
                <li><a href="#">VW</a></li>
            </ul>
        </div>
        <div class="models audi">
            <input type="text" class="search-bar" placeholder="Type model...">
            <a class="previous" href=""><i class="fa-solid fa-arrow-left"></i>BACK</a>
            <h3>Choose model</h3>
            <ul>
                <li class="50"><a href="#"><span class="model">50 (863)</span><span class="years">1974-1978</span></a></li>
                <li>80</li>
            </ul>
        </div>

        <div class="engines 50">
            <input type="text" class="search-bar" placeholder="Type engine...">
            <a class="previous-en" href=""><i class="fa-solid fa-arrow-left"></i>BACK</a>
            <h3>Choose engine</h3>
            <ul>
                <li><span>Type</span><span>Production years</span><span>kW</span><span>HP</span><span>CCM</span></li>
                <li><a href="#">
                    <span>0.8</span><span>1976-1978</span><span>25</span><span>34</span><span>771</span>
                </a></li>
            </ul>
        </div>
        <div id="vans" class="content">
            <input type="text" class="search-bar" placeholder="Type manufacturer...">
            <h3>Choose brand</h3>
            <ul>
                <li><a href="#">CITROEN</a></li>
                <li><a href="#">IVECO</a></li>
                <li><a href="#">FIAT</a></li>
                <li><a href="#">FORD</a></li>
                <li><a href="#">MERCEDES-BENZ</a></li>
                <li><a href="#">PEUGEOT</a></li>
                <li><a href="#">RENAULT</a></li>
                <li><a href="#">VW</a></li>
            </ul>
        </div>
        <div id="trucks" class="content">
            <input type="text" class="search-bar" placeholder="Type manufacturer...">
            <h3>Choose brand</h3>
            <ul>
                <li><a href="#">DAF</a></li>
                <li><a href="#">IVECO</a></li>
                <li><a href="#">MAN</a></li>
                <li><a href="#">MERCEDES-BENZ</a></li>
                <li><a href="#">RENAULT TRUCKS</a></li>
                <li><a href="#">SCANIA</a></li>
                <li><a href="#">VOLVO</a></li>
            </ul>
        </div>
        <div id="motorcycles" class="content">
            <input type="text" class="search-bar" placeholder="Type manufacturer...">
            <h3>Choose brand</h3>
            <ul>
                <li><a href="#">Aprillia</a></li>
                <li><a href="#">BMW</a></li>
                <li><a href="#">DUCATI</a></li>
                <li><a href="#">HONDA</a></li>
                <li><a href="#">KAWASAKI</a></li>
                <li><a href="#">KTM</a></li>
                <li><a href="#">SUZUKI</a></li>
                <li><a href="#">YAMAHA</a></li>
            </ul>
        </div>
        <div id="vin-category" class="content">
            <input type="text" class="search-bar" placeholder="Search by VIN...">
        </div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>

    <script src="/scripts/navigation.js"></script>
    <script src="/scripts/cm-script.js"></script>
</body>
</html>