<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EuroCars Login</title>
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/login-styles.css">
</head>
<body class="flex items-center justify-center min-h-screen bg-cover" style="background-image: url('/images/background_image.jpg');">
    <!-- Login Form -->
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-sm">
        <!-- Logo -->
        <div id="logo" class="flex justify-center mb-6">
            <img src="/images/logo.jpeg" alt="Inter Cars Logo" >
        </div>
        <!-- Form -->
        <form id="loginForm" th:action="@{/forgotten-password}" th:method="PATCH" th:object="${changePasswordRequest}" class="space-y-4">
            <p class="text-center font-bold text-xl">Reset Password</p>
            <div>
                <label for="email">Enter Email</label>
                <p th:if="${#fields.hasErrors('email')}" th:text="${#fields.errors('email')[0]}" class = "error-message"></p>
                <input type="text" id="email" th:field="*{email}" placeholder="example@eurocars.eu" class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
            <div>
                <label for="password">Enter the new password</label>
                <input type="password" id="password" th:field="*{password}" placeholder="••••••••" class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
            <div>
                <label for="password">Repeat the new password</label>
                <p th:if="${#fields.hasErrors('confirmPassword')}" th:text="${#fields.errors('confirmPassword')[0]}" class = "error-message"></p>
                <input type="password" id="password" th:field="*{confirmPassword}" placeholder="••••••••" class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            </div>
            <button type="submit" class="w-full bg-blue-600 text-white p-3 rounded-lg hover:bg-blue-900 transition">Change Password</button>
            <div class="flex items-center justify-between">
                <div>
                    <a th:href="@{/login}" class="font-bold text-blue-600 hover:underline">Login</a>
                </div>
                <div>
                    <a th:href="@{/register}" class="font-bold text-blue-600 hover:underline">Registration</a>
                </div>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <footer class="absolute bottom-0 left-0 right-0 p-2 text-white text-sm flex justify-between">
        <div>
            <span>© GLUU, INC | </span>
            <a href="#" class="hover:underline">PRIVACY POLICY</a> |
            <a href="#" class="hover:underline">TERMS OF SERVICE</a>
        </div>
        <div>ver 2.0</div>
    </footer>
  
</body>
</html>