<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage Euro Cars</title>
    <link rel="stylesheet" href="/styles/_styles.css">
    <link rel="stylesheet" href="/styles/_front-page-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <a th:href="@{/home}"><img src="/images/logo-clear.png" alt="Logo"></a>
            <a href="#" class="menu-button" id="catalogueButton">
                <i class="fa-solid fa-bars"></i> <span>MENU</span>    
            </a>
            <div id="catalogueMenu" class="menu">
                <ul><li><a href="#">Full offer</a></li>
                    <li><a href="#">Universal Searches</a></li>
                    <li><a href="#">Saved Vehicles</a></li>
                    <li><a href="#">News offer</a></li>
                </ul>
            </div>
            
            <a th:href="@{/brands}" class="category"><i class="fa-solid fa-car-side"></i> VEHICLES</a>
            
        </div>
        <div class="navbar-search" id="navbar-search">
            <form th:action="@{parts}" th:method="GET" class="search-form" style="display: flex; gap: 8px; align-items: center;">
                <div class="search-input">
                    <input
                            type="text"
                            name="input"
                            placeholder="Search by product"
                            th:value="${param.input}" />
                </div>
                <button type="submit" class="button" aria-label="Search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <div class="button filter-btn" onclick="openModalFilter()"><i class="fa-solid fa-filter"></i></div>
            <div id="searchModalFilter" class="modal-filter">
                <div class="modal-filter-content">
                  <div class="modal-filter-header">
                    <h3>Advanced search</h3>
                    <span class="close-btn" onclick="closeModalFilter()">&times;</span>
                  </div>
                  <div class="form-group">
                    <h4>Search within</h4>
                    <label for="productIndex">Product index</label>
                    <input type="text" id="productIndex" placeholder="Enter the product index">
                  </div>
                  <div class="form-group">
                    <label for="techDescription">Technical description</label>
                    <input type="text" id="techDescription" placeholder="Enter the technical description">
                  </div>
                  <div class="form-group">
                    <h4>Additional filtering options</h4>
                    <label for="category">Category</label>
                    <input type="text" id="category" placeholder="Start typing a category name">
                  </div>
                  <div class="form-group">
                    <label for="manufacturer">Manufacturer</label>
                    <select id="manufacturer">
                      <option value="any">Any</option>
                    </select>
                  </div>
                  <div class="checkbox-group">
                    <input type="checkbox" id="logisticPath">
                    <label for="logisticPath">Only products available in logistic path</label>
                  </div>
                  <div class="form-buttons">
                    <button class="clear-btn" onclick="clearForm()">Clear</button>
                    <button class="search-btn" onclick="submitForm()">Search</button>
                  </div>
                </div>
            </div>
        </div>
        <div class="navbar-right">
            <a th:if="${user.role.name() == 'ADMIN'}" th:href="@{/users}" class="admin-opt">USERS</a>
            <a th:if="${user.role.name() == 'ADMIN'}" th:href="@{/parts-settings}" class="admin-opt" id="second-opt">PARTS</a>
            <div class="profile-dropdown-container">
                <p th:text="${user.ownerName}" class="profile-section"></p>
                <div class="profile-dropdown-content">
                    <div class="profile-item-link">
                        <i class="fa-solid fa-user"></i>
                        <a th:href="@{/users/{id}/account-settings(id=${user.id})}" th:text="${user.ownerName}" class="user-profile-link"></a>
                    </div>
                    <form th:action="@{/logout}" method="post">
<!--                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </div>
            <a href="" class="icon" id="bell">
                <i class="fa-solid fa-bell">
                    <div id="notificationBox" class="notifications">
                        <ul>
                            <p>Latest notifications</p>
                            <li>There are no notifications</li>
                        </ul>
                        <button>See All</button>
                    </div>
                </i>
            </a>
            <a href="/cart" class="cart">
                <i class="fa-solid fa-cart-shopping"></i>
                <div class="minicart">
                    <p>Recently added product</p>

                    <table>
                        <thead>
                        <tr>
                            <th>Product</th>
                            <th>Total value incl. VAT</th>
                        </tr>
                        </thead>

                        <!-- Check for empty cart outside the loop for Thymeleaf performance -->
                        <p id="empty" th:if="${items.isEmpty()}">Your cart is empty</p>

                        <tbody th:unless="${items.isEmpty()}">
                        <!-- Looping over items -->
                        <tr th:each="cartItem : ${items}">
                            <!-- Product Info Cell -->
                            <td>
                                <div class="product-info-cell">
                                    <!-- Note: Added class for styling -->
                                    <img th:src="${cartItem.part.imgUrls[0]}" class="product-img">
                                    <span th:text="${cartItem.part.name}" class="product-name-span"></span>
                                </div>
                            </td>
                            <!-- Price Cell -->
                            <td>
                                <span th:text="${#numbers.formatDecimal(cartItem.getTotalPriceWithVat(), 0, 2)} + '€'" class="minicart-price"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <form class="total" th:action="@{/cart}" method="get">
                        <p>
                            <span>Wholesale total value incl. VAT:</span>
                            <span id="sum" th:text="${#numbers.formatDecimal(wholePrice, 1, 2)} + '€'" class="text-lg font-extrabold text-red-600"></span>
                        </p>
                        <button>GO TO CART</button>
                    </form>

                </div>
            </a>
            
        </div>
    </div>
    <div class="search-section" id="search-section">
        <a th:href="@{/brands}" class="category">Choose vehicle</a>
        <span id="or">or</span>
        <div class="search-input">
            <form th:action="@{parts}" th:method="GET" class="search-form" style="display: flex; gap: 8px; align-items: center;">
                <div class="search-input">
                    <input
                            type="text"
                            name="input"
                            placeholder="Search by product"
                            th:value="${param.input}" />
                </div>
                <button type="submit" class="button" aria-label="Search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <div class="button filter-btn" onclick="openModalFilter()"><i class="fa-solid fa-filter"></i></div>
            <div id="searchModalFilter" class="modal-filter">
                <div class="modal-filter-content">
                  <div class="modal-filter-header">
                    <h3>Advanced search</h3>
                    <span class="close-btn" onclick="closeModalFilter()">&times;</span>
                  </div>
                  <div class="form-group">
                    <h4>Search within</h4>
                    <label for="productIndex">Product index</label>
                    <input type="text" id="productIndex" placeholder="Enter the product index">
                  </div>
                  <div class="form-group">
                    <label for="techDescription">Technical description</label>
                    <input type="text" id="techDescription" placeholder="Enter the technical description">
                  </div>
                  <div class="form-group">
                    <h4>Additional filtering options</h4>
                    <label for="category">Category</label>
                    <input type="text" id="category" placeholder="Start typing a category name">
                  </div>
                  <div class="form-group">
                    <label for="manufacturer">Manufacturer</label>
                    <select id="manufacturer">
                      <option value="any">Any</option>
                    </select>
                  </div>
                  <div class="checkbox-group">
                    <input type="checkbox" id="logisticPath">
                    <label for="logisticPath">Only products available in logistic path</label>
                  </div>
                  <div class="form-buttons">
                    <button class="clear-btn" onclick="clearForm()">Clear</button>
                    <button class="search-btn" onclick="submitForm()">Search</button>
                  </div>
                </div>
            </div>
        </div>
        
    </div>
    <!-- <div class="content"></div> -->
    <div class="scroll-to-top" onclick="scrollToTop()"><i class="fa-solid fa-arrow-up"></i></div>

    <main>
        <div class="catalogue-menu">
            <ul>
              <li><a href="#"><i class="fa-solid fa-gift"></i> <span>Promotions</span></a></li>
              <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i> <span>Universal searches</span></a></li>
              <li><a href="#"><i class="fa-solid fa-oil-can"></i> <span>Oils and chemistry</span></a></li>
              <li><a href="#"><i class="fa-solid fa-car-battery"></i> <span>Batteries</span></a></li>
              <li><a href="#"><i class="fa-solid fa-screwdriver-wrench"></i> <span>Garage Equipment</span></a></li>
              <li><a href="#"><i class="fa-solid fa-flag-checkered"></i> <span>Tuning & Off road</span></a></li>
              <li><a href="#"><i class="fa-solid fa-motorcycle"></i> <span>Motorcycles</span></a></li>
              <li><a href="#"><i class="fa-solid fa-truck"></i> <span>Truck</span></a></li>
            </ul>
          </div>

        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                <img src="/images/Magnum22560x597HomePageBackground.webp" style="width:100%">
            </div>

            <div class="mySlides fade">
              <img src="/images/Mann22560x597HomePageBackground.webp" style="width:100%">
            </div>
          
            <div class="mySlides fade">
              <img src="/images/Thermotec2560x597HomePageBackground.webp" style="width:100%">
            </div>
          
            <div class="mySlides fade">
              <img src="/images/Trw22560x597HomePageBackground.webp" style="width:100%">
            </div>
          
            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

            <div class="carousel-nav">
                <div class="carousel-nav-dot active"></div>
                <div class="carousel-nav-dot"></div>
                <div class="carousel-nav-dot"></div>
                <div class="carousel-nav-dot"></div>
            </div>
          </div>
    </main>

    <div class="parts-carousel-container">
        <h4>Recommended Parts</h4>
        <div class="parts-carousel-wrapper">
            <div class="parts-carousel-item">
                <img src="/images/parts/0 250 403 002.jpg" alt="">
                <h3>0 250 403 002</h3>
                <p>Glow Plug</p>
                <p class="price">Wholesale Price: 30.80 EUR</p>
                <p class="price">Retail Price: 65.32 EUR</p>
            </div>
            <div class="parts-carousel-item">
                <img src="/images/parts/default.png" alt="">
                <h3>085 DRU04</h3>
                <p>Fuel Filter</p>
                <p class="price">Wholesale Price: 576.00 EUR</p>
                <p class="price">Retail Price: 84.00 EUR</p>
            </div>
            <div class="parts-carousel-item">
                <img src="/images/parts/default.png" alt="">
                <h3>085 398 0480</h3>
                <p>Some Other Part</p>
                <p class="price">Wholesale Price: 750.00 EUR</p>
                <p class="price">Retail Price: 920.00 EUR</p>
            </div>
            <div class="parts-carousel-item">
                <img src="/images/parts/default.png" alt="">
                <h3>16 127 451 424</h3>
                <p>Another Part</p>
                <p class="price">Wholesale Price: 1,000.00 EUR</p>
                <p class="price">Retail Price: 1,250.00 EUR</p>
            </div>
             <div class="parts-carousel-item">
                <img src="/images/parts/default.png" alt="">
                <h3>YMB-CH03</h3>
                <p>Mechatronics, automatic transmission</p>
                <p class="price">Wholesale Price: 1,242.50 EUR</p>
                <p class="price">Retail Price: 2,614.00 EUR</p>
            </div>
            <div class="parts-carousel-item">
                <img src="/images/parts/default.png" alt="">
                <h3>085 DRU04</h3>
                <p>Fuel Filter</p>
                <p class="price">Wholesale Price: 576.00 EUR</p>
                <p class="price">Retail Price: 84.00 EUR</p>
            </div>
        </div>
        <div class="carousel-nav-part">
            <button class="active"></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
            <button></button>
        </div>
    </div>

    <div th:insert="~{fragments/footer :: footer}"></div>

    <script src="/scripts/fp-navigation.js"></script>
    <script src="/scripts/fp-main-carousel.js"></script>
    <script src="/scripts/fp-carousel-rec.js"></script>
</body>
</html>