<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parts</title>
    <link rel="stylesheet" href="/styles/_list-parts.css">
    <link rel="stylesheet" href="/styles/_styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>

    <div th:insert="~{fragments/nav :: navbar}"></div>
    <div class="scroll-to-top" onclick="scrollToTop()"><i class="fa-solid fa-arrow-up"></i></div>
    
    <main>
        <div class="filters">
            <h5>Filters</h5>
            <div class="manufacturer-section">
                <p>Manufacturers</p>
                <ul style="padding: 0; margin: 0;" th:each="manufacturer : ${manufacturers}">
                    <li th:classappend="${manufacturer.id >= 5 ? 'hidden-manufacturer' : ''}" class="manufacturer-list-item">
                        <input type="checkbox" class="manufacturer-checkbox">
                        <img th:src="${manufacturer.imgUrl}" th:alt="${manufacturer.name}" class="manufacturer-logo">
                        <span class="manufacturer-name" th:text="${manufacturer.name}"></span>
                    </li>
                </ul>

                <button id="show-more-button">Show More...</button>
            </div>
        </div>
        <div class="product-list">
            <div class="product-item" th:each="part : ${parts}">
                <div class="img-info">
                    <div class="product-image-col">
                        <img th:src="${#lists.isEmpty(part.imgUrls) ? '/images/default.png' : part.imgUrls[0]}"
                             th:alt="${part.name}" class="product-image">
                    </div>
                    <div class="product-details-col">
                        <a class="product-title" th:href="@{/part(partId=${part.id})}" th:text="${part.name}">0 250 403 002</a>
                        <div class="product-specs" th:text="${part.description}">Glow Plug</div>
                        <div class="product-specs" th:text="${part.additionalInformation}"></div>
                    </div>
                </div>
                
                <div class="manufacturer">
                    <img th:src="${part.manufacturer.imgUrl}" th:alt="${part.manufacturer.name}" class="manufacturer-logo">
                </div>
                <div class="availability-col">
                    <div class="availability-info">1 business day (in branch)</div>
                </div>
                
                <div class="price-col">
                    <div class="current-price" th:text="${user.pricesWithVAT ? #numbers.formatDecimal(part.price * 1.2, 0, 2) : #numbers.formatDecimal(part.price, 0, 2)} + ' EUR'"></div>
                    <div>
                        <input type="number" class="quantity-input" value="1" min="1">
                        <button class="add-to-cart-button"><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </div>
            
        </div>
        
    </main>

    <div th:insert="~{fragments/footer :: footer}"></div>

    <script src="/scripts/navigation.js"></script>
    <script src="/scripts/parts.js"></script>
</body>
</html>