<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Page</title>
    <link rel="stylesheet" href="/styles/_styles.css">
    <link rel="stylesheet" href="/styles/_part-page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <div th:insert="~{fragments/nav :: navbar}"></div>
    <div class="scroll-to-top" onclick="scrollToTop()"><i class="fa-solid fa-arrow-up"></i></div>
    <main>
        <section class="product">
            <div class="product-section">
                <div class="image-gallery">
                    <div class="main-image-placeholder">
                        <img th:src="${#lists.isEmpty(part.imgUrls) ? '/images/default.png' : part.imgUrls[0]}"
                             th:alt="${part.name}" id="mainImg" onclick="openModal();currentSlide(1)">
                    </div>
                    <div class="thumbnail-container">
                        <div class="thumbnail-placeholder" th:each="url : ${part.imgUrls}">
                            <img th:src="${url}" th:alt="${part.name}" onclick="openModal();currentSlide(1)">
                        </div>
                    </div>

                    <div id="myModal" class="modal">
                        <span class="close cursor" onclick="closeModal()">&times;</span>
                        <div class="modal-content">
                      
                          <div class="mySlides" th:each="url : ${part.imgUrls}">
                            <img th:src="${url}" style="width:100%">
                          </div>
                      
                          <!-- Next/previous controls -->
                          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                          <a class="next" onclick="plusSlides(1)">&#10095;</a>
                      
                          <!-- Thumbnail image controls -->
                          <div class="thumbnail-placeholder" th:each="url : ${part.imgUrls}">
                            <img class="demo" th:src="${url}" onclick="currentSlide(1)" alt="">
                          </div>
                        </div>
                      </div>
                </div>
                <div class="product-details">
                    <h2 class="product-id" th:text="${part.name}"></h2>
                    <p class="product-name" th:text="${part.description}">Glow Plug</p>
                    <div class="brand">
                        <div class="brand-logo-placeholder">
                            <img th:src="${part.manufacturer.imgUrl}" th:alt="${part.manufacturer.name}">
                        </div>
                    </div>
                    <div class="technical-description">
                        <h3>Technical description</h3>
                        <p th:text="${part.additionalInformation}"></p>
                    </div>
                </div>
            </div>

            <div class="tabs">
                <div class="tab-buttons">
                    <button onclick="showTab('parameters')">PARAMETERS</button>
                    <button onclick="showTab('crossReference')">CROSS REFERENCE</button>
                    <button onclick="showTab('applications')">APPLICATIONS</button>
                    <button onclick="showTab('otherNumbers')">OTHER NUMBERS</button>
                    <button onclick="showTab('additionalInfo')">ADDITIONAL PRODUCT INFORMATION</button>
                </div>
            
                <div id="parameters" class="tab">
                    <table border="1">
                        <tr>
                            <th>Name</th>
                            <td th:text="${part.description}"></td>
                        </tr>
                        <tr>
                            <th>Weight</th>
                            <td th:text="${part.weight}"></td>
                        </tr>
                        <tr>
                            <th>Internal Code</th>
                            <td th:text="${part.id}">id</td>
                        </tr>
                    </table>
                </div>
            
                <div id="crossReference" class="tab">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product SKU</th>
                                <th>Manufacturer</th>
                                <th>Delivery time</th>
                                <th>Stock availability</th>
                                <th>Prices (incl. VAT)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="crossReference : ${crossReferences}">
                                <td class="product-sku">
                                    <img th:src="${#lists.isEmpty(crossReference.imgUrls) ? '/images/default.png' : crossReference.imgUrls[0]}" th:alt="${crossReference.name}">
                                </td>
                                <td>
                                    <a class="cross-reference" th:href="@{/part(partId=${crossReference.id})}" th:text="${crossReference.name}"></a><br>
                                    <span th:text="${crossReference.description}">Glow Plug</span>
                                </td>
                                <td class="manufacturer">
                                    <img th:src="${crossReference.manufacturer.imgUrl}" th:alt="${crossReference.manufacturer.name}">
                                </td>
                                <td><span class="delivery-time">1 business day (in branch)</span></td>
                                <td class="stock-availability">
                                    <div class="branch">
                                        <i class="fa fa-home"></i> <span>Branch Qty > 9</span>
                                    </div>
                                    <div class="other-branches">Other branches</div>
                                </td>
                                <td class="prices">
                                    <div class="price">
                                        <p th:text="${#numbers.formatDecimal(crossReference.price * 1.2, 0, 2)} + ' EUR'">31.20 BGN</p>
                                        <p class="retail-price" th:text="${#numbers.formatDecimal(crossReference.price * 1.2, 0, 2)} + ' EUR'">Retail price: 31.20 BGN</p>
                                    </div>
                                    <div class="quantity">
                                        <button id="-">-</button>
                                        <input id="qty" type="text" value="1">
                                        <button id="+">+</button>
                                    </div>
                                    <div class="buttons">
                                        <button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                                    </div>
                                    
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            
                <div id="applications" class="tab">
                    <table>
                        <tr>
                            <th>Engines:</th>
                        </tr>
                        <tr th:each="engine : ${part.engines}">
                            <td>
                                <a class="application-link" th:if="${engine != null}" th:href="@{/cars/{engineId}/categories(engineId=${engine.id})}" th:text="${engine.model.brand.name} + ' ' + ${engine.model.name} + ' ' + ${engine.type} + ' (' + ${engine.kw} + ' kW, ' + ${engine.hp} + ' HP, ' + ${engine.prodYears} + ')'"></a>
                            </td>
                        </tr>
                    </table>
                </div>
            
                <div id="otherNumbers" class="tab">
                    <table>
                        <tr>
                            <th>Original Numbers</th>
                        </tr>
                        <tr th:each="number : ${part.otherNumbers}">
                            <td th:text="${number}">Data X</td>
                        
                        </tr>
                    </table>
                </div>
            
                <div id="additionalInfo" class="tab">
                    <table border="1">
                        <tr>
                            <th>More information</th>
                        </tr>
                        <tr>
                            <td>Manufactured by <span th:text="${part.manufacturer.name}"></span> Germany. Official distributor for Bulgaria - EuroCars, Bulgaria</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    

        <form class="add-to-cart" th:action="@{/cart/item}" th:method="POST" th:object="${cartItemRequest}">
            <div class="product-info-section">
                <div class="price-info">
                    <div class="price-row">
                        <label>Wholesale price incl. VAT:</label>
                        <span class="price" th:text="${#numbers.formatDecimal(part.price * 1.2, 0, 2)} + ' EUR'"></span>
                    </div>
                </div>

                <div class="quantity-section">
                    <label for="qty">Qty:</label>
                    <input type="number" id="qty" value="1" min="1" th:field="*{quantity}">
                </div>

                <div class="delivery-info">
                    <label>Delivery time:</label>
                    <div class="delivery-details">
                        <span><i class="fa fa-home"></i> 1 business day (in branch)</span>
                        <a href="#"> <i class="fa fa-globe"></i> Other branches</a>
                    </div>
                </div>

                <input type="hidden" th:field="*{partId}"/>

                <div class="action-buttons">
                    <button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                </div>
            </div>
        </form>
    </main>

    <div th:insert="~{fragments/footer :: footer}"></div>

    <script src="/scripts/navigation.js"></script>
    <script src="/scripts/part.js"></script>
    <script src="/scripts/modal-images.js"></script>
</body>
</html>