/* Custom styles to complement Tailwind */
body {
    background-color: #1a202c; /* Fallback color if image fails to load */
}

input::placeholder {
    color: #a0aec0;
    font-size: 0.9rem;
}


#logo {
    height: 100px;
}

#logo img {
    width: 60%;
    border-radius: 50%;
}

footer {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
}

.alert-warning {
    color: red;
    font-size: 0.75em;
}

.error-message {
    /*!* Background and Border *!*/
    /*background-color: #ffebee; !* Very light red/pink background *!*/
    /*border: 1px solid #d32f2f; !* Darker red border *!*/
    /*border-radius: 4px; !* Rounded corners *!*/

    /* Text and Spacing */
    color: #d32f2f; /* Dark red text */
    padding: 10px 15px; /* Padding inside the box */
    margin-top: 5px; /* Space above the error message */
    font-size: 0.9em;
    font-weight: 500;

    /* Ensure the text is readable and centered vertically with the icon */
    display: flex;
    align-items: center;
}