main {
  display: flex;
  gap: 1em;
  padding: 1em 5em;
  min-height: 700px;
}

.product-section {
    display: flex;
    padding: 15px;
    margin-bottom: 20px;
  }
  
  .image-gallery {
    margin-right: 20px;
    display: flex;
    gap: 10px;
  }
  
  .main-image-placeholder {
    aspect-ratio: 1/1;
    height: 250px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-size: 0.8em;
  }

  .main-image-placeholder img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .thumbnail-container {
    display: flex;
    flex-direction: column;
    max-height: 250px;
    order: -1;
  }
  
  .thumbnail-placeholder {
    width: 50px;
    height: 50px;
    /* background-color: #f0f0f0; */
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-size: 0.7em;
  }

  .thumbnail-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  /* .thumbnail-container > .thumbnail-placeholder {
    padding: 0 8px;
  } */
  
  .thumbnail-container:after {
    content: "";
    display: table;
    /* clear: both; */
  }
  
  /* Create four equal columns that floats next to eachother */
  .thumbnail-placeholder {
    float: left;
    margin: 10px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: white;
    display: block; 
    max-width: 100%;
    max-height: 70%;
    margin: auto;
    max-width: 1000px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10%;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Hide the slides by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  img.demo {
    /* margin: 10px; */
    color: #ccc;
  }


  
  .product-details {
    flex-grow: 1;
  }
  
  .product-id {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .product-name {
    font-size: 1em;
    color: #555;
    margin-bottom: 10px;
  }
  
  .brand {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .brand-logo-placeholder {
    width: 50px;
    height: 25px;
    background-color: #f0f0f0;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    font-size: 0.6em;
  }

  .brand-logo-placeholder img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  
  .brand-name {
    font-size: 0.9em;
    color: #333;
    font-weight: bold;
  }
  
  .technical-description h3 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 5px;
  }
  
  .technical-description p {
    font-size: 0.85em;
    color: #666;
    line-height: 1.4;
    margin-bottom: 15px;
  }
  

.tab {
    display: none;
}
.tab-buttons{
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #999;
}
.tab-buttons button {
    /* margin: 5px; */
    padding: 10px;
    cursor: pointer;
    border: none;
    background: white;
    flex-grow: 1;
}
.tab-buttons button.active {
    background-color: #ccc;
}

.tab table {
  border: none;
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}
.tab table th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.tab table th {
  background-color: #f5f5f5;
  font-weight: bold;
}

#parameters table tr th{
  max-width: 30px;
}



.product-sku img {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin-right: 10px;
}
.product-sku span {
  display: block;
  margin-top: 5px;
}
.manufacturer img {
  width: 80px;
  height: auto;
}
.delivery-time {
  background-color: #fff3cd;
  padding: 5px;
  display: inline-block;
}
.stock-availability .branch {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.stock-availability .branch img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.stock-availability .other-branches {
  color: #007bff;
  cursor: pointer;
}
.prices {
  text-align: right;
  display: flex;
  gap: 1em;
  align-items: center;
}
.prices .retail-price {
  color: #6c757d;
}
.quantity {
  display: flex;
  align-items: center;
}
.quantity input {
  width: 40px;
  text-align: center;
  margin: 0 5px;
}
.quantity button {
  background-color: #ff3333;
  color: white;
  border: none;
  padding: 2px 5px;
  cursor: pointer;
  border-radius: 4px;
}

.buttons .add-to-cart {
  background-color: #ff3333;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

.product-info-section {
  border: 1px solid #e0e0e0;
  padding: 20px;
  width: 300px; /* Adjust width as needed */
  font-family: sans-serif; /* Use a common sans-serif font */
  font-size: 1.2em;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 350px;
}

.price-info .price-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  color: #777;
}

.price-info .price-row .price {
  font-weight: bold;
  color: #333;
}

.price-toggle {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #777;
}

.price-toggle .toggle-buttons {
  margin-left: 10px;
}

.price-toggle .toggle-button {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  color: #555;
  padding: 5px 10px;
  font-size: 0.9em;
  cursor: pointer;
  outline: none;
}

.price-toggle .toggle-button.active {
  background-color: #dc3545; /* Example red color */
  color: white;
  border-color: #dc3545;
}

.quantity-section {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #777;
}

.quantity-section label {
  margin-right: 10px;
}

.quantity-section input[type="number"] {
  width: 50px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.delivery-info {
  margin-bottom: 15px;
  color: #777;
}

.delivery-info .delivery-details span,
.delivery-info .delivery-details a {
  display: block;
  margin-bottom: 5px;
  font-size: 0.95em;
  color: #555;
  text-decoration: none;
  text-align: right;
}

.delivery-info .delivery-details a:hover {
  text-decoration: underline;
  color: #dc3545;
}

.delivery-info .delivery-details i {
  margin-right: 5px;
}

.action-buttons {
  display: flex;
  margin-bottom: 15px;
}

.action-buttons button {
  background-color: #ff3333; /* Example red color */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  flex: 1;
  outline: none;
}

.action-buttons button i {
  font-size: 1.2em;
}

.cross-reference {
  text-decoration: none;
  font-size: 1.1em;
}

.cross-reference:hover {
  text-decoration: underline;
}

.application-link {
  text-decoration: none;
}

.application-link:hover {
  text-decoration: underline;
}
